/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}


.item {
  background-color: rebeccapurple;
  color: aqua;
  height: 35px;

}
.heading {
  color: #8D1B3D;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: bold;
}
.head {
height: 10%;
}
.desc {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}